<% if component_settings.geocoding_enabled? %>
  </div><!-- close previous .row.column -->
  <div class="row column admin-address">
    <div class="left">
      <span class="component__show-title"><%= t ".geolocated_at" %>:</span>
      <%= cell("decidim/address", proposal) %>
    </div>
    <div class="component__show-address">
      <% if Decidim::Map.available?(:static) || Decidim::Map.available?(:dynamic) %>
        <%= static_map_link(proposal) %>
      <% end %>
    </div>
  <%# Skip close here as is in the overriden view %>
<% end %>
