<% if component_settings.geocoding_enabled? %>
  <div class="row column">
    <strong><%= t ".geolocated_at" %>:</strong>
    <div class="address__info">
      <div class="address__icon">
        <%= icon "proposals", role: "img", "aria-hidden": true, width: 40, height: 70 %>
      </div>
      <div class="address__details">
        <%= render partial: "decidim/shared/address_details", locals: { geolocalizable: proposal } %>
      </div>
    </div>
  </div>
<% end %>
