<% if proposal.photos.any? || component_settings.attachments_allowed? %>
  <div class="card-section">
    <div class="component__show_photos" data-component="accordion" id="accordion-photos">
      <button class="card-divider-button" data-controls="panel-photos" type="button">
        <%= icon "arrow-right-s-line" %>
        <h2 class="card-title">
          <%= t(".title") %>
        </h2>
      </button>
      <% if admin_allowed_to? :edit_photos, :proposals, extra_context = { proposal: proposal }, chain = [::Decidim::ReportingProposals::Admin::Permissions] %>
        <div id="panel-photos">
          <%= render partial: "decidim/reporting_proposals/admin/proposals/photo_form" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
