<% if proposal.photos.any? || component_settings.attachments_allowed? %>
  <div class="row column gallery__container mt-4">
    <h2 class="card-title"><%= t(".title") %></h2>
    <% if admin_allowed_to? :edit_photos, :proposals, extra_context = { proposal: proposal }, chain = [::Decidim::ReportingProposals::Admin::Permissions] %>
      <%= render partial: "decidim/reporting_proposals/admin/proposals/photo_form" %>
    <% end %>
  </div>
<% end %>
