.input-group.has-tribute {
  position: relative;

  .tribute-container {
    margin-top: 2.3rem;
  }
}

.user-device-location {
  button {
    max-height: 3rem;

    &.loading-spinner {
      position: relative;
      margin: 0 !important;

      &::before {
        position: absolute;
        top: 6px;
        left: 12px;
      }
    }
  }

  @media only screen and (max-width: 596px) {
    display: block !important;
    margin-top: 1rem;
    margin-bottom: -.5rem;

    button {
      border-radius: 4px !important;
    }
  }
}
