.global-settings,
.step-settings {
  .readonly_container {
    display: none;
  }
}

.proposal-photo.gallery__item {
  position: relative;
  margin: 0 0 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background-color: white;
  color: #202734;
}

.proposal-photo .thumbnail {
  margin-bottom: 0;
}

.delete-proposal__button {
  position: absolute;
  right: 7px;
  top: 7px;
  width: 1.3rem;
  height: 1.3rem;
  background-color: rgba(var(--tertiary-rgb) / 0.8);
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease;

  svg {
    fill: #fff;
    stroke: #fff;
    stroke-width: 2px;
  }
}

.delete-proposal__button:hover {
  background: rgba(var(--tertiary-rgb) / 1);
}

.delete-proposal__button:active {
  transform: scale(0.95);
}

#proposal_photo_add_photos {
  display: block;
  margin-top: 1rem;
}

.admin-address {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;

  .component__show-address {
    max-height: 3rem;
  }
}

//Variables
.layout-content table svg.hide-button {
  fill: var(--secondary);
}
