.global-settings,
.step-settings {
  .readonly_container {
    display: none;
  }
}

.proposal-photo.gallery__item {
  position: relative;
  margin: 0 0 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background-color: white;
  color: #202734;
}

.proposal-photo .thumbnail {
  margin-bottom: 0;
}

.delete-proposal__button {
  position: absolute;
  right: 0;
  top: 7px;
  width: 2rem;
  height: 2rem;
  background: rgba(var(--primary-rgb), 0.8);
  color: #fff;
  border-radius: 50%;
  text-align: center;
}

//Variables

/* Card address */
.address {
  display: flex;
  padding: 1rem;
}

.address--alone {
  flex-grow: 1;
}

.address__info {
  display: flex;
  flex-grow: 1;
}

.address__icon {
  float: left;
  display: flex;
  align-self: center;
  fill: var(--primary);
}

.address__details {
  float: left;
  max-width: 100%; //IE10 bug fix
  padding-left: 0.5em;
  align-self: center;
}

/* Elevate z-index of sticky footer to prevent overlap with absolutely positioned elements. */
.item__edit-sticky {
  z-index: 10;
}
