.camera-container{
  position: relative;
  width: 100%;
  padding-bottom: 1rem;

  button.user-device-camera{
    border-radius: 4px !important;
    max-height: 3rem;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.has_no_image{
  text-align: right;
}
