button.user-device-camera {
  border-radius: 4px !important;
  max-height: 3rem;
}

.has_no_image {
  margin-top: -1rem;
  text-align: right;
}

#proposal_add_photos {
  display: block;
  margin-top: 1rem;
}

@media only screen and (max-width: 596px) {
  .gallery__container .input-group .input-group-button {
    display: block;
  }

  .has_no_image {
    margin-top: -0.5rem;
  }
}
