name: "[CI] Test (unit)"

on:
  push:
    branches:
      - main
  pull_request:

env:
  CI: "true"
  SIMPLECOV: "true"
  RUBY_VERSION: 3.2.6
  NODE_VERSION: 18.17.1

jobs:
  test-unit:
    name: Test (unit)
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:14
        ports: ["5432:5432"]
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        env:
          POSTGRES_PASSWORD: postgres
    env:
      DATABASE_USERNAME: postgres
      DATABASE_PASSWORD: postgres
      DATABASE_HOST: localhost

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Install additional tools
        run: sudo apt-get update; sudo apt-get -f install wkhtmltopdf imagemagick

      - uses: nanasess/setup-chromedriver@v2
        with:
          chromedriver-version: 126.0.6478.182

      - name: List Chrome
        run: apt list --installed | grep chrome

      - name: Remove Chrome
        run: sudo apt remove google-chrome-stable

      - uses: browser-actions/setup-chrome@v1
        with:
          chrome-version: 126.0.6478.182

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ env.RUBY_VERSION }}
          bundler-cache: true

      - name: Setup Database
        run: bundle exec rake test_app

      - name: Run RSpec
        run: bundle exec rspec --exclude-pattern 'spec/system/**/*_spec.rb'

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
